* {
    margin: 0;
    padding: 0;
}
input {
    width: 500px;
    height: 40px;
    font-size: large;
}
h1 {
    /* margin: 10px; */
    color: white;
    padding: 10px;
    margin-right: 150px;
    margin-left: 100px;
}
h3 {
    color: white;
    margin: 5px;
    padding: 5px;
}
h4 {
    margin: 5px;
    padding: 5px;
}
button {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid black;
}

.navbar {
    /* height: 200px; */

    display: flex;
    width: 100%;
    height: 70px;
    background-color: #363636;
}

.post-page {
    width: 84%;
    min-height: 400px;
    background-color: #272727;
    margin: 5%;
    padding: 3%;
}

.small-box {
    text-align: center;
    padding: 10px;
    width: 100px;
    height: 25px;
    margin: 10px;
    background-color: lightgrey;
    color: black;
}

.box {
    background-color: lightgrey;
    color: black;
}
.center-box {
    margin-top: 100px;
    margin: auto;
}
